@model Data3.Products

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Products</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostPrice)
            @Html.ValidationMessageFor(model => model.CostPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Category", String.Empty)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand, "Brand")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Brand", String.Empty)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
