@model Data.Products

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Products</legend>

    <table class="table table-bordered">
        <tr>
            <th>
                Code
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Brand
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Code)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category1.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Brand1.Name)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
