@model IEnumerable<Data.Products>

<div id="ProductsList">

    <table class="table table-hover , text-center">
        <tr>
            <th>
                <div class="text-center">Code</div>
            </th>
            <th>
                <div class="text-center">Product</div>
            </th>
            <th>
                <div class="text-center">Cost Price</div>
            </th>
            <th>
                <div class="text-center">Category</div>
            </th>
            <th>
                <div class="text-center">Brand</div>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand1.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btnEdit" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btnDetail" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btnDelete" })
                    <div class="labelOptions"><b>Edit       Detail        Delete</b></div>
                </td>
            </tr>
        }

    </table>
</div>
