@{
    Layout = null;
}

@model IEnumerable<Data.Products>


@{
    ViewBag.Title = "Billing";
}
@{
    Session["fecha"] = DateTime.Now;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Billing</title>
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css/index.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap-theme.min.css")

    @Styles.Render("~/Content/fonts/glyphicons-halflings-regular.eot")
    @Styles.Render("~/Content/fonts/glyphicons-halflings-regular.svg")
    @Styles.Render("~/Content/fonts/glyphicons-halflings-regular.ttf")
    @Styles.Render("~/Content/fonts/glyphicons-halflings-regular..woff")

    @Styles.Render("~/Content/Site.css")


  


</head>
<body>
    <div >


        <div id="Contenedor1" class="Contenedor">
            @using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BillingProductsList"

}))
            {
                <div class="btn_searchMain">
                    <input type="text" name="Criterion" placeholder="Search Product Category" />
                    <span class="glyphicon glyphicon-search , position"></span>
                    <input type="submit" class="btn btn-success" value="Search" id="Search" />
                </div>


            }
            @Html.Partial("BillingParcial")
        </div>
        <div id="Contenedor2" class="Contenedor">



            @using (Html.BeginForm("Create", "Billing"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <label>Date</label>
                <input id="Text1" type="text" value="@Session["fecha"].ToString()" readonly /><br />
                <label>Client</label>
                <input id="Text2" type="text" /><br />
                <label>Employee</label>
               
                
                <div class="empBill">@Html.DropDownList("Employee", String.Empty)</div><br />

                <div class="detailBill">
                    <label>Tax</label>
                    <input id="Text3" type="text" value="13%" readonly /><br />
                    <label>Discount</label>
                    <input id="Text4" type="text" value="@ViewBag.Discount" /><br />

                    <label>SubTotal</label>
                    <input id="Text4" type="text" value="@ViewBag.Subtotal" /><br />
                    <label>Total</label>
                    <input id="Text5" type="text" value="@ViewBag.Subtotal" /><br />
                </div>


                <p>
                    
                </p>

            }















        </div>
    </div>
    
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/Scripts/bootstrap.min.js")
</html>





