


@model IEnumerable<Data.BillDetail>






    <h2>List Detail</h2>


    <table class="table table-hover , text-center">
        <tr>
            <th>
                <div class="text-center">Code</div>
            </th>
            <th>
                <div class="text-center">Product</div>
            </th>
            <th>
                <div class="text-center">Price</div>
            </th>
            <th>
                <div class="text-center">Qty</div>
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>

                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Bill }, new { @class = "btnDelete" })
                    <div class="labelOptions"><b>        Delete</b></div>
                </td>
            </tr>
        }

    </table>

