
@model IEnumerable<Data.BillDetail>
<div id="BillDetailList">


    <table class="table table-bordered">
        <tr>
            <th>
                <div class="text-center">Bill Number</div>
            </th>
            <th>
                <div class="text-center">Code</div>
            </th>
            <th>
                <div class="text-center">Product</div>
            </th>
            <th>
                <div class="text-center">Qty</div>
            </th>
            <th>
                <div class="text-center">Unit Cost</div>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill1.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>


</div>
