@model Data3.Users


@{
    ViewBag.Title = "Details User";
}

<h2>Details User</h2>

<fieldset>
    <legend>Employee</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("User")
            </th>
            <th>
                @Html.LabelForModel("Password")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Nickname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
