@model Data.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Users</legend>

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.LabelForModel("User")
            </th>
            <th>
                @Html.LabelForModel("Password")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Nickname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
