@model MVC.Models.MainModels

    @{
        ViewBag.Title = "";
    }

<!DOCTYPE html>
<html lang="es">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta charset="utf-8" />
     <title>@ViewBag.Title - Library Paper Illusions</title>
     <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
     <meta name="viewport" content="width=device-width" />

     @Styles.Render("~/Content/css")
     @Scripts.Render("~/bundles/modernizr")
     @Styles.Render("~/Content/css/index.css")
     @Styles.Render("~/Content/css/bootstrap.css")
     @Styles.Render("~/Content/css/bootstrap.min.css")
     @Styles.Render("~/Content/css/bootstrap-theme.min.css")
    
</head>
    <body>

        @section scripts{
            <script>
                $(function() {

                    $( "#datepicker" ).datepicker();
                });
            </script>
        }
        <p>Date: <input type="text" id="datepicker" /></p>
    </body>
</html>

@section featured {
 
    <div class="Products">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="searchMain">
                @Html.EditorFor(model => model.SearchText)
            
            <input type="submit" value="Search" />
            </div>
        }

        <div class="Products">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="font-weight:bold">
                            Code
                        </td>
                        <td style="font-weight:bold">
                            Product
                        </td>
                        <td style="font-weight:bold">
                            Cost Price
                        </td>
                        <td style="font-weight:bold">
                            Category
                        </td>
                        <td style="font-weight:bold">
                            Brand
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CostPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
}