@model Data.Suppliers

@{
    ViewBag.Title = "Details Supplier";
}

<h2>Details Supplier</h2>

<fieldset>
    <legend>Suppliers</legend>

    <table class="table table-bordered">
        <tr>
            <th>
                Supplier Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                Detail
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telephone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Detail)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btnBack" })
    <div class="labelBack2"><b>Back</b></div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btnEdit2" })
    <div class="labelEdit"><b>Edit</b></div>
</p>
