@model Data3.Suppliers

@{
    ViewBag.Title = "Details Supplier";
}

<h2>Details Supplier</h2>

<fieldset>
    <legend>Suppliers</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Supplier Name")
            </th>
            <th>
                @Html.LabelForModel("Phone")
            </th>
            <th>
                @Html.LabelForModel("Address")
            </th>
            <th>
                @Html.LabelForModel("Detail")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telephone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Detail)
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
